// Typography
$body-font-size: 1.8rem;
$body-line-height: 1.8em;
$body-font-family: 'Source Sans Pro', Arial, sans-serif;
$text-color: #444;
$h-font-family: $body-font-family;


$h1-font-size: "";
$h2-font-size: "";
$h3-font-size: "";
$h4-font-size: "";
$h5-font-size: "";
$h6-font-size: "";
